{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}



{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Vulnerability</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ object.description }}</td>
                    </tr>
                    <th scope="row">Threat Event</th>
                        <td>
                            {% if object.threat_event %}
                            {% if object.threat_event.get_absolute_url %}
                                <a href="{{ object.threat_event.get_absolute_url }}">{{ object.threat_event }}</a>                            
                            {% endif %}
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Likelihood</th>
                        <td>{{ object.likelihood }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Level of Impact</th>
                        <td>{{ object.impact }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Level of Risk</th>
                        <td>{{ object.risk_level }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">        
        <div class="card">
          <h5 class="card-header">Notes</h5>
          <div class="card-body">
            {{ object.notes | markdown  }}
          </div>
        </div>
      </div>
</div>
{% endblock %}