{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load tabs %}


{% block tabs %}
  <ul class="nav nav-tabs px-3">
    {# Primary tab #}
    <li class="nav-item" role="presentation">
      <a class="nav-link{% if not tab %} active{% endif %}" href="{{ object.get_absolute_url }}">{{ object|meta:"verbose_name"|bettertitle }}</a>
    </li>
    <li role="presentation" class="nav-item">
        <a href="{% url 'plugins:nb_risk:threatevent_vulnerabilities' pk=object.pk %}" class="nav-link{% if tab == 'vulnerabilities' %} active{% endif %}">
            Exploit Vulnerabilities
        </a>
    </li>

    {# Include tabs for registered model views #}
    {% model_view_tabs object %}
  </ul>
{% endblock tabs %}

{% block content %}
<div class="row mb-3">
  <div class="card-body" id="object_list">
    {% include 'htmx/table.html' %}
  </div>
</div>
{% endblock %}